spring:
#  datasource:
#    driver-class-name: org.h2.Driver
#    url: jdbc:h2:tcp://localhost/~/utils/h2/db/multi1
#    username: sa
#    password:
#  flyway:
#    enabled: false

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  pattern:
    console: "[%d{yyyy:MM:dd-HH:mm:ss.SSS}] [%thread] [%X{trace.id}] %-5level %logger{35} - %msg%n"
  level:
    root: info
    com:
      jb: debug
    org:
      flywaydb:
        core:
          internal:
            sqlscript: debug
      hibernate:
        stat: debug
        type: trace

# 동적으로 적용하지 않고 DB 을 멀티로 설정 후 사용하는 경우 아래 셋팅으로 테스트
#tenants:
#  datasources:
#    multi1:
#      jdbcUrl: jdbc:h2:tcp://localhost/~/utils/h2/db/multi1
#      jdbcUrl: jdbc:h2:mem:multi1
#      driverClassName: org.h2.Driver
#      username: sa
#      password:
#    multi2:
#      jdbcUrl: jdbc:h2:tcp://localhost/~/utils/h2/db/multi2
#      jdbcUrl: jdbc:h2:mem:multi2
#      driverClassName: org.h2.Driver
#      username: sa
#      password: